<% extend ('../../auth_layout')%>
<div id="login-page">
    <div class="container">
        <form class="form-login" action="/forgotPassword" method="POST">
            <h2 class="form-login-heading">RESET PASSWORD</h2>
            <div class="login-wrap">
                <%if(error!=""){ %>
                <div class="form-group form-success-gone">
                    <div class="alert alert-danger">
                        <%- error%>
                    </div>
                </div>
                <% } %>
                <%if(success!=""){ %>
                <div class="form-group form-success-gone">
                    <div class="alert alert-success">
                        <%- success%>
                    </div>
                </div>
                <% } %>
                <input name="email" type="email" class="form-control" placeholder="EMAIL" autofocus required>
                <br>
                <label class="checkbox">
                    <span class="pull-right">
                        <a href="/"> Click here to LOGIN</a>
                    </span>
                </label>
                <br /><br />
                <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i>
                    SEND PASSWORD RECOVERY EMAIL</button>
                <hr>
            </div>
        </form>
    </div>
</div>