<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ambulance Tracker</title>
  <!-- Bootstrap core CSS -->
  <link href="/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/public/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/public/css/style.css" rel="stylesheet">
  <link href="/public/css/style-responsive.css" rel="stylesheet">
</head>

<body>
  <%- content %>

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/public/lib/jquery/jquery.min.js"></script>
  <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="/public/lib/jquery.backstretch.min.js"></script>
</body>

</html>