<% extend ('../layout')%>
<div class="row" style="padding: 20px ;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel form-element-padding">
            <div class="panel-heading">
                <h4>Add New Driver</h4>
            </div>
            <div class="panel-body" style="padding-bottom:30px;">
                <div class="col-md-12">
                    <form method="POST" action="/admin/addDriver">
                        <div class="form-group">
                            <br>
                            <%if(error!=""){ %>
                            <div class="form-group form-success-gone">
                                <div class="alert alert-danger">
                                    <%- error%>
                                </div>
                            </div>
                            <% } %>
                        </div>

                        <div class="form-group">
                            <label>Driver First Name</label>
                            <div>
                                <input type="text" class="form-control" name="driverFirstName" required minlength="3" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Driver Last Name</label>
                            <div>
                                <input type="text" class="form-control" name="driverLastName" required minlength="3" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Driver Phone Number</label>
                            <div>
                                <input type="tel" class="form-control" name="driverPhoneNumber" required minlength="11"
                                    maxlength="11" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Driver License Number</label>
                            <div>
                                <input type="tel" class="form-control" name="driverLicenseNumber" required
                                    minlength="7" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Driver Email</label>
                            <div>
                                <input type="email" class="form-control" name="driverEmail" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Driver Pasword</label>
                            <div>
                                <input type="password" class="form-control" name="driverPassword" required
                                    minlength="6" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Driver Pasword Confirmation</label>
                            <div>
                                <input type="password" class="form-control" name="driverPasswordConfirmation" required
                                    minlength="6" />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-primary" value="SAVE DRIVER">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>