<% extend ('../layout')%>
<div class="row" style="padding: 20px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">


        <div class="panel form-element-padding">
            <div class="panel-heading">
                <h4>Add New Truck</h4>
            </div>
            <div class="panel-body" style="padding-bottom:30px;">
                <div class="col-md-12">
                    <form method="POST" action="/admin/addTruck">

                        <div class="form-group">
                            <label>Truck Model</label>
                            <div>
                                <input type="text" class="form-control" name="truckmodel">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Truck Registration Number</label>
                            <div>
                                <input type="text" class="form-control" name="TruckRegistrationNumber">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Truck Capacity</label>
                            <div>
                                <input type="text" class="form-control" name="truckCapacity">
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Driver</label>
                            <div>
                                <select name="driver" id="" class="form-control">
                                    <% drivers.forEach(u => { %>
                                    <option value="<%= u.val().id %>"> <%= u.val().firstName %>  <%= u.val().lastName %></option>
                                    <% }); %>

                                </select>
                            </div>
                        </div>




                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-primary" value="SAVE TRUCK">
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>