<% extend ('../layout')%>


<div class="col-md-12" style="padding:20px;">
    <div class="col-md-12 padding-0">
        <div class="col-md-12 padding-0">
            <div class="col-md-12 padding-0">
                <div class="col-md-6">
                    <div class="panel box-v1">
                        <div class="panel-heading bg-white border-none">
                            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                <h4 class="text-left">USERS</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                <h4><span class="icon-user icons icon text-right"></span></h4>
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            <h1><%= count.users %></h1>
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel box-v1">
                        <div class="panel-heading bg-white border-none">
                            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                <h4 class="text-left">DRIVERS</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                <h4><span class="icon-user icons icon text-right"></span></h4>
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            <h1><%= count.drivers %></h1>
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel box-v1">
                        <div class="panel-heading bg-white border-none">
                            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                <h4 class="text-left">TRUCKS</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                <h4><span class="icon-basket-loaded icons icon text-right"></span></h4>
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            <h1><%= count.trucks %></h1>
                            <hr />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel box-v1">
                        <div class="panel-heading bg-white border-none">
                            <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                <h4 class="text-left">BOOKINS</h4>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                <h4><span class="icon-basket-loaded icons icon text-right"></span></h4>
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            <h1><%= count.bookings %></h1>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>